@import "../variables";

button {
	background-color: $color-button;
	border: none;
	&:hover {
		cursor: pointer;
		background-color: $color-button-hover;
	}

	&:focus {
		outline: none;
	}

	&:disabled {
		background-color: $color-button-disabled;
		cursor: initial;
	}
}

.round-button {
	border-radius: 50%;
	height: 3em;
	width: 3em;
}

.search-button {
	border-radius: 0.2em;
	padding: 1em 2em;
	width: 8em;
	height: 3em;
}

.submit-button {
	border-radius: 0.2em;
	padding: 2em 4em;
	width: 22em;
	height: 5em;
}
