@import "./variables";

.search-bar {
	display: flex;
	align-items: center;
	height: 40px;

	p,
	input,
	button {
		margin: 0;
		margin-top: 1em;
		margin-right: 1em;
	}

	@media (max-width: 800px) {
		flex-direction: column;
		align-items: flex-start;
		height: unset;
	}
}

.result-container {
	margin-top: 3em;

	.link {
		padding-left: 0.5em;
	}
}
